<<<<<<< HEAD
input[type="radio"] {
=======
.input {
>>>>>>> 4f9458a54b1f909dbd99fa956b7f511cbb0723ab
  display: none;
}

.star {
  cursor: pointer;
<<<<<<< HEAD
  transition: color 200ms;
=======
>>>>>>> 4f9458a54b1f909dbd99fa956b7f511cbb0723ab
}
